## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the "pax" column, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at [neobase in Github](https://github.com/alexprengere/neobase))

Bonus point: Solve this problem using pandas (instead of any other approach)

Suggestion: follow the below plan of action:

* Get familiar with the data
* Select columns of interest
* Decide what to do with NaNs

* Make processing plan
* Develop code that works with a sample

* Adjust the code to work with Big data
* Test big data approach on a sample

* Run program with big data

## 1) Get familiar with data

In [ ]:
#nos interesan las columnas airport y pax. Al final hay que hacer la suma de pax, teniendo en cuenta las negativas.
#pero primero exploramos un poco los datos, viendo como están las columnas,  viendo vacías, etc.
#para familiarizarse con los datos, lo primero sacamos una muestra.

In [1]:
import pandas as pd

bookings_file='bookings.csv.bz2'
searches_file='searches.csv.bz2'

sample=pd.read_csv(bookings_file, nrows=100000,sep='^')
#tenemos que ver el delimitador que usa el archivo.
#no pasa nada por que esté comprimido, pandas lo detecta y aplica el descompresor necesario. No funciona con Zip pq en zip.

In [2]:
#para que salgan todas las columnas: pd.options.display (ahí hay muchas opciones para jugar que vemos)
pd.options.display.max_columns=None
sample.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [3]:
sample.shape
# 100000 filas pq le hemos dicho nosotros que coja este numero de filas.

(100000, 38)

In [4]:
sample.describe()

,duration,distance,intl,pax,year,month
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000
mean,22960.511580,476.904440,0.662550,0.509630,2013.0,2.191040
std,46979.388683,1780.890791,0.472842,2.219013,0.0,1.260222
min,51.000000,0.000000,0.000000,-80.000000,2013.0,1.000000
25%,3370.750000,0.000000,0.000000,-1.000000,2013.0,1.000000
50%,8594.000000,0.000000,1.000000,1.000000,2013.0,3.000000
75%,21535.500000,0.000000,1.000000,1.000000,2013.0,3.000000
max,791131.000000,19012.000000,1.000000,70.000000,2013.0,5.000000

In [5]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 38 columns):
act_date               100000 non-null object
source                 100000 non-null object
pos_ctry               100000 non-null object
pos_iata               100000 non-null object
pos_oid                100000 non-null object
rloc                   100000 non-null object
cre_date               100000 non-null object
duration               100000 non-null int64
distance               100000 non-null int64
dep_port               100000 non-null object
dep_city               100000 non-null object
dep_ctry               100000 non-null object
arr_port               100000 non-null object
arr_city               100000 non-null object
arr_ctry               100000 non-null object
lst_port               100000 non-null object
lst_city               100000 non-null object
lst_ctry               100000 non-null object
brd_port               100000 non-null object
brd_city               100000 non-null object
brd_ctry               100000 non-null object
off_port               100000 non-null object
off_city               100000 non-null object
off_ctry               100000 non-null object
mkt_port               100000 non-null object
mkt_city               100000 non-null object
mkt_ctry               100000 non-null object
intl                   100000 non-null int64
route                  100000 non-null object
carrier                100000 non-null object
bkg_class              100000 non-null object
cab_class              100000 non-null object
brd_time               100000 non-null object
off_time               100000 non-null object
pax                    100000 non-null int64
year                   100000 non-null int64
month                  100000 non-null int64
oid                    100000 non-null object
dtypes: int64(6), object(32)
memory usage: 29.0+ MB

In [6]:
sample.columns
#es una caos, hay espacios en blanco. ¿como los quitamos?
#column es como index, tiene metodos propios, como str. Podemos explorar estos metodos sample.columns.str.
#nos podria valer el replace o mejor el strip

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [7]:
#este método elimina espacios en blanco de los extremos (ambos)
sample.columns.str.strip()

Index(['act_date', 'source', 'pos_ctry', 'pos_iata', 'pos_oid', 'rloc',
       'cre_date', 'duration', 'distance', 'dep_port', 'dep_city', 'dep_ctry',
       'arr_port', 'arr_city', 'arr_ctry', 'lst_port', 'lst_city', 'lst_ctry',
       'brd_port', 'brd_city', 'brd_ctry', 'off_port', 'off_city', 'off_ctry',
       'mkt_port', 'mkt_city', 'mkt_ctry', 'intl', 'route', 'carrier',
       'bkg_class', 'cab_class', 'brd_time', 'off_time', 'pax', 'year',
       'month', 'oid'],
      dtype='object')

### What if we dont want to read the whole file?

Options:

* prepare the sample

* read_csv with nrows option

Commands for obtaining data info:
    b.shape  - object 
    b.info()

    b.columns
    b.columns.to_list()
    list(b.columns)
    
    b.head() -function
    b.sample()
    
    #pd.set_option('display.max_columns', 100)
    pd.set_option('display.max_columns', None)
    
    b.describe()
    b.describe(include='all')
    df.dtypes
    
    b.isnull().sum()
    non_null_counts = b.count()

Clean the column names

## 2) Select the columns of interest

In [8]:
sample=sample[['arr_port','pax','year']]
#nos quedamos tambien con el año por si no hay bookings en 2013

## 3) What to do with NaN?

In the sample everything might be ok, but we should prepare for NaN case

In [9]:
#si nos encontramos nan, en este caso lo mejor es quitarlos
#si fuera un modelo de ML tendríamos que rellenarlos o imputarlos pq le harían falta pero en este caso
#estamos haciendo reportings, cuentas. SI no se a que aeropuerto llega una persona no la cuento y listo, así que se descartan
sample.count()
# no hay nan, mejor

arr_port    100000
pax         100000
year        100000
dtype: int64

## 4) Make processing plan
1) get only the bookings from 2013

2) group by arr_port, sum

3) sort 

4) get top 10

#### 4.1) Get only the booking from 2013

In [10]:
sample2013= sample[sample['year']==2013]
sample2013.shape

(100000, 3)

#### 4.2) group by arr_port, sum

In [12]:
#sample2013.groupby('arr_port').sum() Así nos saldrá el resto de columnas, mejor especificamos la columna
paxes_per_airport=sample2013.groupby('arr_port')['pax'].sum()
#de esta forma se agrupa y luego se suma lo agrupado
#sample2013.groupby('arr_port').sum()['pax'] con esto se calcula la suma de todas las columnas y luego se extrae la columna. Es mucho mas eficiente el primer caso

In [13]:
#paxes_per_airport es una serie, para ordenarla podemos usar directamente sort_values sin decirle el by
paxes_per_airport.sort_values(ascending=False).head(10)
#ESTE SERÍA EL TOP 10

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

In [ ]:
#TENEMOS EL PROTOTIPO, PARA PODER ADAPTAR ESTO AL ARCHIVO COMPLETO TENEMOS QUE USAR LOS CHUNCKS

## 5) Adjust the code to work with Big data


Hint: check out https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking

In [14]:
#Vamos a volver a usar una muestra y vamos a hacer los chunks, cuando tengamos el proceso definido lo corremos con todo
bookings_file='bookings.csv.bz2'
sample=pd.read_csv(bookings_file,nrows=100000,sep='^',chunksize=10000)
#El nº de chunks va a ser el entero nrows/chunksize.

In [15]:
for chunk in sample:
    print(type(chunk))
    #cada chunk es un df como podemos ver

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [17]:
# Para adaptar el código, sólamente tenemos que buscar una forma de agregar los resultados parciales.
# Cada chunk, trabajamos con el y trabajamos de una forma mucho mas comprimida. Ejemlpo: pasa de ser el nº de linas de cada chunk a el nº de aeropuertos

partial_results=[]

for chunk in sample:
    #nos quedamos para empezar con las 3 columnas
    chunk=chunk[['arr_port','pax','year']].dropna()#hacemos dropna por si acaso
    chunk=chunk[sample['year']==2013]
    actual_result=chunk.groupby('arr_port')['pax'].sum()
    #aqui no nos vamos a quedar con el top 10 ordenado pq no actuamos sobre lo general, si no sobre cada chunk
    partial_results.append(actual_result)

partial_results
#En el primer bucle ya he recorrido el archivo por eso sale vacío, se queda en la ultima posicion, para arreglarlo 
#volvemos a leer el erchivo

[]

In [19]:
sample=pd.read_csv(bookings_file,nrows=100000,sep='^',chunksize=10000)
partial_results=[]

for chunk in sample:
    #nos quedamos para empezar con las 3 columnas
    chunk=chunk[['arr_port','pax','year']].dropna()#hacemos dropna por si acaso
    chunk=chunk[chunk['year']==2013]
    actual_result=chunk.groupby('arr_port')['pax'].sum()
    #aqui no nos vamos a quedar con el top 10 ordenado pq no actuamos sobre lo general, si no sobre cada chunk
    partial_results.append(actual_result)

partial_results

[arr_port
 AAL          0
 ABQ         12
 ABV          2
 ABZ         -6
 ACC          4
 ADD          7
 ADZ          2
 AEP          7
 AER          1
 AES          3
 AFA          2
 AGA          0
 AGP          8
 AGU          4
 AGX          2
 AJA          7
 AJF          2
 AKL          2
 ALA          6
 ALB          2
 ALC          9
 ALG         26
 AMD          2
 AMM         16
 AMS         36
 ANC          4
 ANF          2
 ANU          0
 AOE          1
 AOI          0
             ..
 XNB          2
 XQP          2
 YAY         -2
 YCD          3
 YEG         15
 YHD         -1
 YHZ          4
 YMM          0
 YNB          0
 YOW          0
 YQM          0
 YQQ          2
 YQT          1
 YQU          1
 YTM          4
 YUL         14
 YVO          1
 YVR         17
 YWG          6
 YXE          1
 YXS          2
 YXY          1
 YYC         15
 YYJ          3
 YYZ         34
 YZF          4
 ZAG         -4
 ZNZ          1
 ZRH         16
 ZYL         -1
 Name: pax, Length: 663, dtype: int64, arr_port
 AAL          3
 ABJ          3
 ABQ          6
 ABV          7
 ABY          1
 ABZ          5
 ACC         -6
 ACK          2
 ACT          2
 ADA          2
 ADB          4
 ADD         18
 ADE          2
 ADL          8
 ADZ          2
 AEP          3
 AER         -1
 AGF          2
 AGP         32
 AGS          0
 AGU          4
 AHB         -1
 AJA          4
 AJF          1
 AKL         20
 ALA          0
 ALB          6
 ALC          1
 ALG          6
 ALH          1
             ..
 XIY          1
 XNA          4
 XNB          2
 XPG          2
 YEG          6
 YHZ          2
 YIW         -1
 YLW          8
 YMM          2
 YNJ          2
 YOW          2
 YQB          8
 YQM          0
 YQR          8
 YQT          2
 YQX          2
 YTZ          2
 YUL         29
 YUM         -1
 YVR         30
 YWG         12
 YYC          0
 YYF          1
 YYJ          1
 YYZ         28
 ZAG          2
 ZCO          6
 ZNE          5
 ZQN          2
 ZRH         24
 Name: pax, Length: 679, dtype: int64, arr_port
 AAE          0
 AAQ          1
 ABE          2
 ABJ          0
 ABQ          7
 ABV         -2
 ABX          2
 ABZ          2
 ACC          6
 ACE          4
 ADA         16
 ADB         -2
 ADD          7
 ADE          2
 ADL          2
 AEP          4
 AER          2
 AEX         -2
 AGA          0
 AGP         19
 AGU          2
 AHB          3
 AHO          0
 AKL         -6
 ALA          3
 ALB          5
 ALG          8
 AMA         10
 AMD          3
 AMM         10
             ..
 XPG          2
 XRF          2
 XUZ         -2
 YEG          4
 YHZ          2
 YKA          0
 YLW          2
 YNB          2
 YNJ          6
 YOW          2
 YQM          2
 YQR          1
 YTZ          3
 YUL         11
 YVR         22
 YWG          5
 YXE          1
 YXX          1
 YYC          6
 YYT          5
 YYZ         34
 ZAG          1
 ZBL          2
 ZCO          0
 ZLO          4
 ZNE          0
 ZNZ         -6
 ZQN         12
 ZRH         39
 ZUH          3
 Name: pax, Length: 684, dtype: int64, arr_port
 AAL          1
 ABE          2
 ABJ          3
 ABQ         16
 ABV          0
 ABX          1
 ABZ          5
 ACC          0
 ACK         -2
 ACV          1
 ADA          0
 ADB         -2
 ADD         26
 ADL          4
 AEP         14
 AER          2
 AGA          6
 AGP         14
 AGS          1
 AGU          0
 AJA          0
 AJF          0
 AJU          1
 AKL         32
 ALA          4
 ALB          2
 ALC          2
 ALG          6
 ALP          0
 AMD          9
             ..
 XNA          2
 XNB          4
 XZI          0
 YEG          0
 YGK          0
 YHZ          4
 YLW          2
 YNJ          1
 YNT          0
 YOW          8
 YQB          3
 YQD          2
 YQT          2
 YUL          7
 YVR         28
 YWG          6
 YWH          2
 YXE          9
 YXS         -1
 YYC          8
 YYJ          9
 YYT          3
 YYZ         27
 ZAG          9
 ZLO          2
 ZNZ         12
 ZOS          0
 ZQN          2
 ZRH         22
 ZYL          0
 Name: pax, Length: 755, dtype: int64, arr_port
 AAL          8
 ABE         10
 ABJ          8
 ABQ         -4
 ABV          2
 ABZ          2
 ACA          0
 ACC          5
 ACE          0
 ACV          3
 ADA          0
 ADB          6
 ADD          3
 ADL          8
 ADZ         -7
 AEP          2
 AGA          0
 AGH          1
 AGP         12
 AGS          1
 AHB          2
 AHO          2
 AJA          0
 AJF          1
 AKL         30
 ALA          1
 ALB         11
 ALG         19
 AMA          2
 AMD          2
             ..
 WVB          1
 XIY          0
 XMN          0
 XNA          1
 XPG          6
 XZI          1
 YEG         12
 YFC          0
 YHZ          2
 YNJ          1
 YOW          2
 YQM          1
 YQX          2
 YTZ          3
 YUL          4
 YVR         13
 YWG          3
 YYC         13
 YYJ          0
 YYT          2
 YYZ         25
 ZAG          0
 ZCO         -5
 ZIG          1
 ZNE          2
 ZNZ          2
 ZRH         27
 ZWS          2
 ZYL          1
 ZYR          2
 Name: pax, Length: 670, dtype: int64, arr_port
 AAE          2
 ABE          2
 ABJ          1
 ABQ         11
 ABV          1
 ACC          3
 ACE         12
 ADA          2
 ADB          0
 ADD          8
 ADE          0
 ADL          7
 AEP          0
 AER          0
 AEX          3
 AGH          2
 AGP          4
 AHB          0
 AJL         -1
 AKL         14
 AKX          1
 ALA          2
 ALB          1
 ALC          3
 ALG         20
 ALO          0
 ALP          0
 AMD          2
 AMM         20
 AMS         21
             ..
 YKU          2
 YNJ          0
 YOW         13
 YQR          1
 YQT          3
 YQY          2
 YTZ          3
 YUL         22
 YVR         36
 YWG          5
 YXE          2
 YXU          1
 YXX          2
 YYC          6
 YYG          2
 YYR          1
 YYT          0
 YYZ         29
 ZAD          0
 ZAG          3
 ZHA          0
 ZIG          2
 ZOS          1
 ZQN          0
 ZRH         19
 ZTH          0
 ZVE          4
 ZWS          0
 ZYL          4
 ZYR          2
 Name: pax, Length: 737, dtype: int64, arr_port
 ABJ         -2
 ABQ          2
 ABV          3
 ABZ          6
 ACA          2
 ACC          6
 ACK          2
 ACV          1
 ADB          7
 ADD          4
 ADL          5
 ADZ          6
 AEP          3
 AER          6
 AES          1
 AEX          1
 AGA          6
 AGP          0
 AHB          1
 AHO          2
 AJA          6
 AJF          2
 AKL         34
 ALA          5
 ALG         -7
 AMD          1
 AMM         19
 AMS         29
 ANC         12
 ANU          7
             ..
 XRY          4
 YAM          4
 YEG          2
 YHZ          4
 YMM          3
 YMN          0
 YNB          1
 YNT          0
 YOW          6
 YQM          0
 YTZ          4
 YUL         13
 YVO          1
 YVR         30
 YWG         14
 YXE          6
 YXU          3
 YYC          8
 YYE          2
 YYG          2
 YYJ          0
 YYT          3
 YYZ         48
 ZAG          5
 ZBF          2
 ZNE          2
 ZQN          0
 ZRH         23
 ZYL         12
 ZYR          0
 Name: pax, Length: 705, dtype: int64, arr_port
 AAR          2
 ABJ          2
 ABS          6
 ABV          3
 ABZ          5
 ACA          2
 ACC         10
 ACE          0
 ADB          0
 ADD          4
 ADL          7
 ADZ          8
 AEP          6
 AEX          1
 AGA         -2
 AGP          6
 AHB          0
 AHO          1
 AJA          3
 AKL          7
 ALA          2
 ALB          0
 ALC          2
 ALG          9
 AMA          4
 AMD          1
 AMM          4
 AMS         16
 ANC          6
 ANF          2
             ..
 XRY          6
 YEG          7
 YHZ          4
 YLW          0
 YMM          3
 YNB          0
 YOW          4
 YQB         -1
 YQM          1
 YQQ          2
 YQR          0
 YQY          0
 YTZ          1
 YUL         19
 YVR         17
 YWG          2
 YXE          2
 YXT          1
 YYC         15
 YYJ          2
 YYT          2
 YYZ          8
 ZAG          6
 ZIH          4
 ZLO          1
 ZNE          4
 ZNZ          4
 ZQN          5
 ZRH         20
 ZYL          0
 Name: pax, Length: 714, dtype: int64, arr_port
 AAL          2
 AAR          2
 ABJ          4
 ABQ          6
 ABZ          1
 ACA          2
 ACC          2
 ADA         -1
 ADB          5
 ADD          3
 ADL          4
 ADZ          2
 AEP          5
 AER          4
 AEX          3
 AGA         -1
 AGH          8
 AGP          0
 AGU          3
 AHB          0
 AJR          0
 AKL         19
 AKX          1
 ALA          6
 ALB          6
 ALC          1
 ALG         22
 AMA          1
 AMD         -5
 AMM         15
             ..
 XRY          0
 YAM          0
 YCD          2
 YEG          7
 YGW          1
 YHZ          0
 YJE          4
 YLW          2
 YMM          2
 YNB          1
 YNJ          1
 YOW          1
 YQB          5
 YQT          0
 YTZ          1
 YUL          9
 YVR         10
 YXE          0
 YXH          2
 YYC          9
 YYJ          2
 YYZ         30
 ZAG          3
 ZAL          4
 ZAM          0
 ZNE         -2
 ZQN          7
 ZRH         77
 ZYL          1
 ZYR          2
 Name: pax, Length: 715, dtype: int64, arr_port
 AAL          2
 AAQ          4
 ABJ          2
 ABV          0
 ABZ          3
 ACC          9
 ACE          2
 ADB          6
 ADD          0
 ADE          0
 ADL          2
 ADZ          8
 AEP         17
 AER          2
 AGA          2
 AGP         15
 AHO          0
 AJL          0
 AKL         11
 AKX          2
 ALA          6
 ALB          3
 ALC          3
 ALG         -1
 AMA          2
 AMD          4
 AMM         19
 AMS         55
 ANC         10
 ANF          1
             ..
 XMN          1
 XNA          4
 YAM          1
 YEG          1
 YFC          2
 YHZ         -4
 YLW          2
 YMM          2
 YOW         10
 YQB          5
 YQR          5
 YSJ          2
 YTZ          2
 YUL         12
 YVR         15
 YWG          1
 YXE          6
 YXU          4
 YYC         12
 YYG          3
 YYJ          1
 YYZ         44
 YZF          2
 ZAG          8
 ZAZ          0
 ZCO          2
 ZNE          2
 ZNZ          2
 ZRH         34
 ZYL          0
 Name: pax, Length: 717, dtype: int64]

### We have to read the whole file, but with nrows we are reading always the first N rows

In [26]:
%%time
#Como se puede hacer esto:
#con bucle de joins (merge)
#con concat

#Cuando tenemos que juntar varios DF es mas eficiente pd.concat(partial_results)
#para agregarlos por aeropuerto con .groupby('arr_port').sum()
pd.concat(partial_results).groupby('arr_port').sum().sort_values(ascending=False).head(10)

#AHORA SÍ ESTAMOS LISTO PARA CORRERLO SOBRE TODO EL DATASET

CPU times: user 7.39 ms, sys: 256 µs, total: 7.65 ms
Wall time: 14.4 ms

arr_port
LHR         1006
MCO          861
JFK          795
LAX          761
BKK          747
LAS          732
SFO          705
ORD          686
CDG          676
DXB          587
Name: pax, dtype: int64

#### Now we need to put together the results from all the chunks

Options:

* df.append()

* pd.concat()

#### 1) df.append()

#### 2) pd.concat()

## Complete Solution

#quitamos el nrows y le metemos un chuksize mas grande, intentando que cada chunk size sea lo más pequeño posible
data=pd.read_csv(bookings_file,sep='^',chunksize=1e6)
partial_results=[]

for chunk in data:
    #nos quedamos para empezar con las 3 columnas
    chunk=chunk[['arr_port','pax','year']].dropna()#hacemos dropna por si acaso
    chunk=chunk[chunk['year']==2013]
    actual_result=chunk.groupby('arr_port')['pax'].sum()
    #aqui no nos vamos a quedar con el top 10 ordenado pq no actuamos sobre lo general, si no sobre cada chunk
    partial_results.append(actual_result)

all_result=pd.concat(partial_results)
total_arrivals=all_result.groupby('arr_port').sum()
top10=total_arrivals.sort_values(ascending=False).head(10)
top10

In [27]:
%%time
#ahora vamos a ver los registros de tiempo y ver por donde va
from datetime import datetime

data=pd.read_csv(bookings_file,sep='^',chunksize=1e6)

partial_results=[]

for chunk_num,chunk in enumerate(data):
    print('Start processing chunk %d at %s' % (chunk_num, datetime.now()))
    #nos quedamos para empezar con las 3 columnas
    chunk=chunk[['arr_port','pax','year']].dropna()#hacemos dropna por si acaso
    chunk=chunk[chunk['year']==2013]
    actual_result=chunk.groupby('arr_port')['pax'].sum()
    #aqui no nos vamos a quedar con el top 10 ordenado pq no actuamos sobre lo general, si no sobre cada chunk
    partial_results.append(actual_result)

all_result=pd.concat(partial_results)
total_arrivals=all_result.groupby('arr_port').sum()
top10=total_arrivals.sort_values(ascending=False).head(10)
top10

Start processing chunk 0 at 2018-06-01 19:05:59.302966
Start processing chunk 1 at 2018-06-01 19:06:24.060963
Start processing chunk 2 at 2018-06-01 19:06:49.038545
Start processing chunk 3 at 2018-06-01 19:07:14.010931
Start processing chunk 4 at 2018-06-01 19:07:39.097063

<string>:2: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.

Start processing chunk 5 at 2018-06-01 19:08:04.581477
Start processing chunk 6 at 2018-06-01 19:08:29.629677
Start processing chunk 7 at 2018-06-01 19:08:54.590076
Start processing chunk 8 at 2018-06-01 19:09:21.663239
Start processing chunk 9 at 2018-06-01 19:09:48.735861
Start processing chunk 10 at 2018-06-01 19:09:49.045883
CPU times: user 4min 1s, sys: 10.6 s, total: 4min 11s
Wall time: 4min 16s

In [28]:
top10
#Este es el resultado final, el primero es LHR

arr_port
LHR         88809.0
MCO         70930.0
LAX         70530.0
LAS         69630.0
JFK         66270.0
CDG         64490.0
BKK         59460.0
MIA         58150.0
SFO         58000.0
DXB         55590.0
Name: pax, dtype: float64

In [ ]:
# CHUNKS ES LA SOLUCION GENERAL, PERO HAY UN ARGUMENTO DE LA FUNCION READ_CSV (usecols). 
#Con esto solo cargamos en memoria solo las columnas que nos interesan. Pasamos de 32 a 3 columnas.
# tardará menos.
#No hay que hacer la agregacion ni todos los pasos intermedios
#df=pd.read_csv(bookings_file,sep='^',usecols=['pax','arr_port','year'])
#res=df.groupby('arr_port').sum().sort_values(ascending=False).head(10)
#res

In [ ]:
#import sys
#sys.getsizeof(df)
#nos dice el espacio que ocupa en disco el argumento

In [34]:
#BONUS POINT
# en terminal: pip install neobase. Neobase es una BBDD de todos los aeropuertos del mundo, para ver donde estan
# cuando acabe de instalar
import neobase

In [38]:
nb=neobase.NeoBase()
nb.get('JFK')['name']

'John F. Kennedy International Airport'

In [41]:
#Con funcion lambda:
#top10.index.map(lambda airport: nb.get(airport.strip())['name'])
#con una funcion quedará mas explicito:
def get_airport_name_from_IATA(IATA_code):
    airport_data=nb.get(IATA_code.strip())
    return airport_data['name']

top10.index.map(get_airport_name_from_IATA)

Index(['London Heathrow Airport', 'Orlando International Airport',
       'Los Angeles International Airport', 'McCarran International Airport',
       'John F. Kennedy International Airport',
       'Paris Charles de Gaulle Airport', 'Suvarnabhumi Airport',
       'Miami International Airport', 'San Francisco International Airport',
       'Dubai International Airport'],
      dtype='object', name='arr_port')